<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>G62 - Sistema Bancário</title>
    {% block title %}{% endblock %}
  </head>
  <body>
    <nav>
      <ul class="menu">
        {% if ulogin == None %}
          <li><a class="button" href="/login">Login</a></li>
        {% else %}
          <li><a class="button" href="/logoff">Logoff</a></li>
          <li><a class="button" href="/gform/Bank">Bancos</a></li>
          <li><a class="button" href="/gform/Branch">Agências</a></li>
          <li><a class="button" href="/gform/Card">Cartões</a></li>
          <li><a class="button" href="/gform/Customer">Clientes</a></li>
          <li><a class="button" href="/gform/Transaction">Transações</a></li>
          <li><a class="button" href="/Userlogin">Utilizadores</a></li>
          <li><a class="button" style="color:lightblue">Utilizador: {{ ulogin }}</a></li>
        {% endif %}
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
