{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
<div class="dados">
    <h1>{{ des[0][:-2] if des[0].endswith('Id') else cname }}</h1>
    <br>
    <button id="edit" type="button" {{ butshow }} onclick="window.location.href = '/gform/{{ cname }}?option=edit'" class="button1">Editar</button>
    <button id="delete" type="button" {{ butshow }} onclick="window.location.href = '/gform/{{ cname }}?option=delete'" class="button1">Eliminar</button>
    <button id="insert" type="button" {{ butshow }} onclick="window.location.href = '/gform/{{ cname }}?option=insert'" class="button1">Inserir</button>
    <button id="save" type="submit" form="form" class="button1" {{ butedit }}>Guardar</button>
    <button id="cancel" type="button" {{ butedit }} onclick="window.location.href = '/gform/{{ cname }}?option=cancel'" class="button1">Cancelar</button>
    <button id="exit" type="button" {{ butshow }} onclick="window.location.href = '/gform/{{ cname }}?option=exit'" class="button1">Sair</button>
    <br><br>

    <form method="get" action="/gform/{{ cname }}" style="display:inline;">
        <input type="hidden" name="option" value="search"/>
        <label for="search_id"><strong>Pesquisar por ID:</strong></label>
        <input type="number" id="search_id" name="search_id" value="{{ search_id }}" size="6" placeholder="ex: 5"/>
        <button type="submit" class="button1">🔍 Ir</button>
        {% if search_id %}
        <a href="/gform/{{ cname }}" class="button1">✕ Limpar</a>
        {% endif %}
        {% if search_msg %}
        <span style="color:red; margin-left:10px;">{{ search_msg }}</span>
        {% endif %}
    </form>

    <br><br>
    <form id="form" action="/gform/{{ cname }}?option=save" method="post">
        {% for key in att %}
            {% if loop.index == 1 %}
                <label for="{{ key }}">{{ des[loop.index-1] }}:</label>
                <input type="text" readonly id="{{ key }}" name="{{ key }}" value="{{ obj[key] }}" size="6"/>
            {% else %}
                <label for="{{ key }}">{{ des[loop.index-1] }}:</label>
                <input type="text" {{ butedit }} id="{{ key }}" name="{{ key }}" value="{{ obj[key] }}" size="30"/>
            {% endif %}
            <br><br>
        {% endfor %}
    </form>
    <br>
    <button id="first" type="button" {{ butshow }} onclick="window.location.href = '/gform/{{ cname }}?option=first'" class="button1">Primeiro</button>
    <button id="previous" type="button" {{ butshow }} onclick="window.location.href = '/gform/{{ cname }}?option=previous'" class="button1">Anterior</button>
    <button id="next" type="button" {{ butshow }} onclick="window.location.href = '/gform/{{ cname }}?option=next'" class="button1">Seguinte</button>
    <button id="last" type="button" {{ butshow }} onclick="window.location.href = '/gform/{{ cname }}?option=last'" class="button1">Último</button>
</div>
{% endblock %}
