{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
<div class="dados">
    <br><br>
    <h1>G62 - Sistema de Gestão Bancária</h1>
    <br>
    <p>Programação de Computadores II</p>
    <br>
    {% if ulogin == None %}
        <p>Por favor faça <a href="/login">login</a> para aceder ao sistema.</p>
    {% else %}
        <p>Bem-vindo, <strong>{{ ulogin }}</strong>! Utilize o menu para navegar.</p>
    {% endif %}
</div>
{% endblock %}
